<head>
    <title>New Message Form</title>
</head>
<body>
    <form method="POST" action="/new">
        <label for="user">UserName:</label>
        <input type="text" id="user" name="user" required>
        <br>
        <label for="text">Message:</label>
        <input type="text" id="text" name="text" required>
        <br>
        <button type="submit">Send Message!</button>
    </form>
     
</body>