<html>
    <head>
        <title>Index</title>
    </head>
    <body>
        <a href="/new">Submit New Message</a>
        <ul>
            <% messages.forEach((message) => { %>
                <br />
                <li><%= message.user %></li>
                <li><%= message.text %></li>
                <li><%= message.date.toLocaleString() %></li>
                <li><a href="/message/<%= message.id %>/details">Details</a></li>
            <% }); %>
        </ul>
    </body>
</html>