<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Message Details</title>
        
    </head>
    <body>
        <h2>Message Details</h2>
        <ul>
            <li>Posted by: <span><%= message.user %></span></li>
            <li>Date: <span><%= message.date %></span></li>
            <li>Message: <span><%= message.text %></span></li>
        </ul>
    </body>
</html>